doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/styles/index.css")
        link(rel="stylesheet", href="../public/styles/modal.css")
        title Библиотека
    body
        main.main
            .container#container 
                h1.title-page Библиотека
                label
                    select#filterType(name="filterType")
                        option(value="all") Без фильтра
                        option(value="availability" selected) Наличие
                        option(value="returnDate") Дата возврата
                        option(value="expired") Дата возврата просрочена
                .table__wrapper
                    table.table#table
                        thead      
                            tr
                                th.table-th.th-id
                                    | ID
                                th.table-th.th-author 
                                    | Автор
                                th.table-th.th-name
                                    | Название произведения
                                th.table-th.th-relese 
                                    | Дата выпуска
                                th.table-th.th-availability 
                                    | Наличие
                                th.table-th.th-return 
                                    | Дата возврата
                                th.table-th.th-handler 
                                    | Удаление
                        tbody
                            each book in dbArray
                                tr.table__row
                                    td.table__id.table__cell= book.id
                                    td.table-author.table__cell= book.author
                                    td.table-name.table__cell= book.name
                                    td.table-release.table__cell= book.releaseDate
                                    td.table-availability.table__cell= book.inLibrary
                                    if book.inLibrary === "no" && book.returnDate
                                        td.table-return.table__cell= book.returnDate
                                    else 
                                        td.table-return.table__cell --
                                    td.table__cell
                                        .table__actions
                                            button.button.action-remove
                                                //span.svg_ui
                                                    //svg.action-icon_remove
                                                        use(xlink:href='../public/img/sprite.svg#remove')
                                                span Удалить
            button.button.btn-addItem
                span.svg_ui
                    span Добавить книгу
        #modal.modal__overlay
            .modal
                button.button.button__close
                h3.modal__header Добавление новой книги
                form
                    label.label
                        input#name.input.input__type(name='name' type='text' placeholder='Название книги' required)
                    label.label
                        input#author.input.input__name(name='author' type='text' placeholder='Автор книги' required)
                    label.label
                        input#releaseData.input.input__units(name='releaseDate' type='text' placeholder='Дата издания' required)
                    button.button.button-ui_firm(type='submit')
                        span Сохранить
                    button.button.cancel-button
                        span Отмена
        script(src="../public/script/index.js") 